.hero {
  position: relative;
  overflow: hidden;
}

.hero-bg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-gradient {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
}

.hero-content {
  position: relative;
  z-index: 10;
}